* {
    margin: 0;
    padding: 0;
}

body{
   /* background-image: url(images/windmill_sun_blur.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.test{
    width: 100px;
    height: auto;
    margin-top: 40px;
}
    

.container{
    position: relative;
}

.container .content{
    display: none;
}

.container .content.contentEnglish{
    display: block;
}

.check{
    position: relative;
    width: 50px;
    margin-top: 10px;
}

.check::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}

.check:checked:before{
    background: #00a1ff;
}

.check::after{
    content: '';
    position: absolute;
    left: 0px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked::after{
    left: 25px;
    border: 2px solid #00a1ff;
}

.check:checked ~ .content.contentEnglish{
    display: none;
}

.check:checked ~ .content.contentGerman{
    display: block;
}

.en{
    color: black;
    margin-left: 0.5em;
}

.de{
    color:black;
}


.usImg{
    width: 30px;
    height: auto;
    margin-left: 2em;
    margin-top: 5px;
    
}

.autImg{
    width: 30px;
    height: auto;
}

.wrapper{
    width: 100%;
}

.image-wrapper{
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    
}

.img-logo{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.estamag-text{
    text-align: center;
    background-color: white;
    margin-left: 20em;
    margin-right: 20em;
    margin-top: 3em;
    margin-bottom: 1em;
}

.estamag-text h2{
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 40px;
    color:rgb(0, 0, 0);
    line-height: 44px;
    font-family: 'Roboto', sans-serif;
}

.estamag-text p{
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 20px;
    color:#242d88;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

/* make different margin and box size for desktop screen */

/* Mobile View */
@media only screen and (max-width: 1500px){
    .estamag-text{
        text-align: center;
        background-color: white;
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 3em;
        margin-bottom: 1em;
    }

    .estamag-text p{
        font-size: 16px;
    }
}


